[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/bundle/gnuplot.vim"]
	path = vim/bundle/gnuplot.vim
	url = https://github.com/vim-scripts/gnuplot.vim.git
[submodule "vim/bundle/gundo.vim"]
	path = vim/bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/molokai"]
	path = vim/bundle/molokai
	url = https://github.com/tomasr/molokai.git
